* {
    box-sizing: border-box;
  }

  body {
    font-family: Outfit;
  }

  .attribution {
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 15px;
  }

  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }

  h1, p {
    font-size: 15px;
    text-align: center;
  }

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    flex-direction: column;
  }

  #qr {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 370px;
  }